<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Candidates</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="navbar/navbarHome"></div>
<h1 th:align="center">UPDATE CANDIDATE</h1>
<div class="container">
    <form class="container" th:action="@{/candidates/update}" th:object="${candidate}" method="post">
        <div class="row mb-3">
            <label for="id" class="col-sm-1 col-form-label">Id</label>
            <div class="col-sm-11">
                <input type="text" class="form-control col-12" id="id" th:field="*{id}" readonly>
            </div>
        </div>
        <div class="row mb-3">
            <label for="name" class="col-sm-1 col-form-label">Name</label>
            <div class="col-sm-11">
                <input type="text" class="form-control col-12" id="name" th:field="*{fullName}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="dob" class="col-sm-1 col-form-label">DOB</label>
            <div class="col-sm-11">
                <input type="date" class="form-control col-12" id="dob" th:field="*{dob}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="phone" class="col-sm-1 col-form-label">Phone</label>
            <div class="col-sm-11">
                <input type="tel" class="form-control col-12" id="phone" th:field="*{phone}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-11">
                <input type="email" class="form-control col-12" id="inputEmail3" th:field="*{email}">
            </div>
        </div>

        <div class="row" aria-label="Address">
            <label class="col-sm-1 col-form-label">Address</label>
            <input type="hidden" th:field="${address.id}">
            <div class="col-sm-7 row">
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Number" aria-label="Number"
                           th:field="${address.number}">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="Street" aria-label="Street"
                           th:field="${address.street}">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="City" aria-label="City"
                           th:field="${address.city}">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Zip code" aria-label="Zip"
                           th:field="${address.zipcode}">
                </div>
            </div>
            <div class="row col-sm-4">
                <label class="col-sm-4 col-form-label text-center">Country</label>
                <div class="col-sm-8">
                    <select class="p-1 col-sm-12" th:field="${address.country}" id="address_country"
                            aria-label="Country">
                        <option th:each="country : ${countries}"
                                th:value="${country}"
                                th:text="${country.name}"
                                th:class="${country==address.country} ? active"
                        ></option>
                    </select>

                </div>
            </div>

        </div>
        <br/>
        <div class="d-grid gap-2 col-3 mx-auto">
            <input class="btn btn-primary" type="submit" value="Update Candidate">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
