<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/candidates(size=30,page=1)}">Candidate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company(size=30,page=1)}">Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/job(size=30,page=1)}">Job</a>
            </li>
        </ul>
    </div>
</nav>