<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company/add-job}">Đăng tin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company/job}">Job</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company/skill}">Skill</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/company/logouot}">Logout</a>
            </li>
        </ul>
    </div>
</nav>